* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", sans-serif;
  color: #252525;
  font-weight: 400;
  background-color: #070f2b;
  min-height: 100vh;
  padding: 3.2rem;
  /* padding-bottom: 6rem; */
}

.container {
  /* max-width: 40rem; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.8rem;
}

.header {
  /* align-items: center; */
}

.header h1 {
  color: #eeeeee;
  border-top: 2px solid currentColor;
  border-bottom: 2px solid currentColor;

  text-transform: uppercase;
  text-align: center;
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: 3px;
  position: relative;
  width: 100%;
  display: block;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.cards {
  display: grid;
  /* number of column, size of column */
  grid-template-columns: repeat(4, 10rem);
  gap: 1rem;
}

@media (max-width: 1700px) {
  .cards {
    grid-template-columns: repeat(2, 36rem);
  }
}

@media (max-width: 1220px) {
  .cards {
    grid-template-columns: repeat(2, 24rem);
  }
}

@media (max-width: 820px) {
  .cards {
    grid-template-columns: repeat(1, 36rem);
  }
}

@media (max-width: 600px) {
  .cards {
    grid-template-columns: repeat(1, 24rem);
  }
}

.card {
  width: 10rem;
  height: 10rem;
  background-color: #7c91e3;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden; /* Ensures the image does not overflow the card */
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers the entire card without distortion */
  cursor: pointer;
}
